# Dependencies
node_modules

# Environment variables
.env

# Logs
npm-debug.log
log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Backpack build
build

# VSCode config
.vscode

# Generated docs
docs

# Generated translations
server/lang/*.json
